<ion-content fullscreen scroll-y="true" style="height:100%">
  <div class="main" style="height:100%">
    <img style="height:100%" src="assets/tutorial/settings0.png" />
    <div class="floating floating1" (click)="hideAnimation1()">Toque aqui para alternar entre os modos Temporizador e Cronômetro.</div>
    <div class="floating floating2" (click)="hideAnimation2()">No modo Temporizador, arraste o botão verde para ajustar o tempo</div>
    <div class="floating floating3" (click)="hideAnimation3()">Toque na árvore para selecionar outra espécie</div>
  </div>
</ion-content>