<ion-content fullscreen scroll-y="false">
  <swiper-container>
    <swiper-slide>
      <div>
        <img class="ion-padding" src="assets/tutorial/slide1.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <img class="ion-padding" src="assets/tutorial/slide2.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <img class="ion-padding" src="assets/tutorial/slide3.png" />
        <ion-button class="floating" (click)="first()">First</ion-button>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div>
        <img class="ion-padding" src="assets/tutorial/slide4.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
    </swiper-slide>
  </swiper-container>
</ion-content>