.forward {
  animation-timing-function: ease-out;
  animation-duration:0.7s;
  animation-name: scaleUp;
  animation-fill-mode: forwards;
  position:absolute;
  top:15px;
  left:5px;
}

.reverse {
  animation-direction: ease-out;
  animation-fill-mode:forwards;
  animation-duration: 0.5s;
  animation-name: scaleDown;
}


@keyframes scaleUp {
  from {
    transform: scale(0.2);
    offset: 0;
  }

  70% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1);
    offset: 1;
    top:20px;
    left:20px;
  }
}

@keyframes scaleDown {
  to {
    transform: scale(0);
    offset: 0;
  }

  40% {
    transform: scale(1.3);
  }

  from {
    transform: scale(1);
    offset: 1;
    top:20px;
    left:20px;
  }
}















#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}